version: "3.7"
services:
    # image project
    sisgecon:
        build:
            args:
                user: albert
                uid: 1000
            context: ./
            dockerfile: Dockerfile
        image: laravel-app
        restart: unless-stopped
        working_dir: /var/www/
        volumes:
            - ./:/var/www
        depends_on:
            - redis
            - queue
        networks:
            - rede

    # nginx
    nginx:
        image: nginx:alpine
        restart: unless-stopped
        ports:
            - 80:80
            - 443:443 # incluido
        volumes:
            - ./:/var/www
            - ./docker/nginx/:/etc/nginx/conf.d/ #
            - ./dhparam:/etc/nginx/dhparam
            - ./certbot/conf/:/etc/nginx/ssl/
            - ./certbot/data:/usr/share/nginx/html/letsencrypt

        certbot:
            image: certbot/certbot:latest
            command: certonly --webroot --webroot-path=/usr/share/nginx/html/letsencrypt --email albertcruz@terra.com.br --agree-tos --no-eff-email -d sisgecon.tk -d www.sisgecon.tk
            volumes:
            - ./certbot/conf/:/etc/letsencrypt
            - ./certbot/logs/:/var/log/letsencrypt
            - ./certbot/data:/usr/share/nginx/html/letsencrypt

        networks:
            - rede

    # db mysql
    mysql:
        image: mysql:5.7.22
        restart: unless-stopped
        environment:
            MYSQL_DATABASE: ${DB_DATABASE}
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
            MYSQL_PASSWORD: ${DB_PASSWORD}
            MYSQL_USER: ${DB_USERNAME}
        volumes:
            - ./.docker/mysql/dbdata:/var/lib/mysql
        networks:
            - rede

    # queue
    queue:
        build:
            args:
                user: albert
                uid: 1000
            context: ./
            dockerfile: Dockerfile
        restart: unless-stopped
        command: "php artisan queue:work"
        volumes:
            - ./:/var/www
        depends_on:
            - redis
        networks:
            - rede

    # redis
    redis:
        image: redis:latest
        networks:
            - rede

networks:
    rede:
        driver: bridge
